body {
  background: linear-gradient(45deg, #f97281, #7b589e, #171f85);

  background-size: 100%;

  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 18px;
}

.login-box {
  width: 600px;
  max-width: 600px;
  height: 400px;
  max-height: 400px;
  margin: 18px;
  padding: 36px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  background-color: #ffffff;
  position: relative;
}
.login-box,
.user,
.pass,
.login-button {
  font-family: "Quicksand", sans-serif;
}

/* .login-h1 {
  text-align: center;
  margin-bottom: 36px;
}

.inro-h1 {
  position: absolute;
  right: 50px;
  bottom: 130px;
  text-align: center;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
} */

.username-holder {
  margin-top: 10px;
  margin-bottom: 25px;
}

.password-holder {
  margin-bottom: 30px;
}

.username-holder,
.password-holder {
  display: inline-block;
  width: 50%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  outline: none;
  background: #eee;
  transition: background 0.2s, border-color 0.2s;
  font-size: 18px;
}

.username-holder:focus,
.password-holder:focus {
  border-color: #f34841;
  background: #fff;
}

.login-button {
  width: 50%;
  padding: 16px 36px;
  margin-left: 10px;
  margin-top: 15px;
  font-weight: bold;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  background-color: #f34841;
  border: none;
  font-size: 18px;
}

.login-button:hover {
  background-color: #da403a; /*darker*/
}

.login-button:active {
  transform: scale(0.98);
}

.container {
  width: 600px;
  max-width: 600px;

  /* max-height: 400px; */

  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  background-color: #fff;

  padding: 70px;
  padding-top: 20px;
  position: relative;
}

.welcom-h1 {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  display: inline-block;
  padding: 30px 0;
  color: #444;

  font-size: 30px;

  margin: 10px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}

.search-h1,
.add-h1 {
  font-family: "Quicksand", sans-serif;

  font-size: 30px;
  margin: 10px 0;
}

.add-h1 {
  padding-top: 10px;
}

.add-button,
.search-button {
  font-family: "Quicksand", sans-serif;
  margin-top: 25px;
}

.search-button {
  margin-bottom: 15px;
}

.search-in-holder,
.add-in-holder {
  display: inline-block;
  width: 50%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  outline: none;
  background: #eee;
  transition: background 0.2s, border-color 0.2s;
  font-size: 18px;
}

.search-in-holder:focus,
.add-in-holder:focus {
  border-color: #f34841;
  background: #fff;
}

.search-button,
.add-button {
  width: 45%;
  padding: 16px 36px;

  font-weight: bold;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  background-color: #f34841;
  border: none;
  font-size: 18px;
  text-align: center;
}
.add-button {
  margin-bottom: 25px;
}

.search-button:hover,
.add-button:hover {
  background-color: #da403a; /*darker*/
}

.search-button:active {
  transform: scale(0.98);
}

.add-button:active {
  transform: scale(0.98);
}

.search-in-holder,
.add-in-holder,
.search-button {
  font-family: "Quicksand", sans-serif;
}

.sign-up {
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  text-decoration: underline;
  color: black;
  cursor: pointer;
  padding: 10px;
  display: inline-block;
  margin-right: 30px;
  margin-left: 10%;
  margin-top: 15px;
  text-align: center;
}
.sign-up:hover {
  color: #f34841;
}

.sign-up:active {
  transform: scale(0.98);
}

.logout {
  font-size: 24px;
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  color: black;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  right: 10px;
}

.logout:hover {
  color: #f34841;
}

.logout:active {
  transform: scale(0.98);
}
/* .img-gif {
  position: absolute;

  width: 450px;
  max-width: 450px;
  padding: 15px;
  left: 400px;
  top: 30px;
} */

.vertical {
  border-left: 2px solid #444;
  height: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1px;
}
/* .select-bar {
  width: 100%;
  max-width: 60%;
}
.search {
  background-color: #eee;
  display: flex;
  justify-content: center;
  color: black;
  width: 100%;
  max-width: 100%;
} */

/* SIGN UP STYLE */

.sign-up-container {
  width: 600px;
  max-width: 600px;
  height: 450px;
  margin: 18px;
  padding: 36px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  background-color: #ffffff;
  position: relative;
  display: block;
}

@media screen and (max-width: 511px) {
  .sign-up-container {
    height: 500px;
  }
}
.create-h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
  margin: 10px;
  margin-bottom: 24px;
  text-align: center;
  display: block;
}
.firstName-signUp-holder,
.lastName-signUp-holder {
  width: 23%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  outline: none;
  background: #eee;
  transition: background 0.2s, border-color 0.2s;
  font-size: 18px;
  margin-bottom: 20px;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  margin-top: 1vh;
}

.firstlastName {
  display: flex;
  justify-content: center;
  align-items: center;
}

.password-signUp-holder,
.userName-signUp-holder,
.password1-signUp-holder {
  width: 52%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  outline: none;
  background: #eee;
  transition: background 0.2s, border-color 0.2s;
  font-size: 18px;
  margin-bottom: 20px;
}

.userName-signUp-holder:focus,
.password-signUp-holder:focus,
.firstName-signUp-holder:focus,
.lastName-signUp-holder:focus,
.password1-signUp-holder:focus {
  border-color: #f34841;
  background: #fff;
}
.terms-text {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  margin-right: 3px;
}

.create-button {
  width: 50%;
  padding: 14px 24px;
  margin-top: 10px;
  font-weight: bold;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  background-color: #f34841;
  border: none;
  font-size: 18px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}
.already-have-account {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
}
.link-already-have-account {
  color: black;
}

.link-already-have-account:hover {
  color: #da403a;
  font-weight: bold;
}

.link-already-have-account:active {
  transform: scale(0.98);
}

.termStyle {
  margin-top: 2px;
  font-size: xx-small;
}
.create-button:hover {
  background-color: #da403a;
}

.create-button:active {
  transform: scale(0.98);
}
.terms-link {
  color: black;
}

.terms-link:hover {
  color: #f34841;
}

.terms-link:active {
  transform: scale(0.98);
}

#emptyResult {
  color: rgb(199, 5, 5);
  font-weight: lighter;
  font-size: 17px;
  margin-left: 13%;
  font-family: "Quicksand", sans-serif;
}

#loginResult {
  color: rgb(199, 5, 5);
  font-weight: lighter;
  font-size: 17px;
  margin-left: 0.2%;
  font-family: "Quicksand", sans-serif;
}

#createdAccount {
  margin-top: -3vh;
  height: 2vh;
  margin-left: 12%;
}

#accountCreated {
  color: rgb(6, 160, 14);
  font-weight: lighter;
  font-size: 2vh;
  margin-left: 5%;
  font-family: "Quicksand", sans-serif;
}

#message {
  margin-top: -3.7vh;
  height: 2vh;
}

#message2 {
  margin-top: -4vh;
  margin-bottom: 1vh;
  height: 1.5vh;
}

#isEmpty {
  color: rgb(199, 5, 5);
  font-weight: lighter;
  font-size: 17px;
  margin-left: 35%;
  font-family: "Quicksand", sans-serif;
}

#notValid {
  color: rgb(199, 5, 5);
  font-weight: lighter;
  font-size: 17px;
  margin-left: 33%;
  font-family: "Quicksand", sans-serif;
}

.hidden-container {
  width: 600px;
  max-width: 600px;
  height: 400px;
  max-height: 400px;
  margin: 18px;
  padding: 36px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  background-color: #ffffff;
  position: relative;
}

.email-hidden-holder,
.phone-hidden-holder {
  width: 40%;
  display: inline;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  outline: none;
  background: #eee;
  transition: background 0.2s, border-color 0.2s;
  font-size: 18px;
  margin-bottom: 20px;
}
.firstName-hidden-holder {
  margin-right: 10px;
}

.lastName-hidden-holder,
.firstName-hidden-holder {
  width: 25%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  outline: none;
  background: #eee;
  transition: background 0.2s, border-color 0.2s;
  font-size: 18px;
  margin-bottom: 20px;
}

.lastName-hidden-holder:focus,
.firstName-hidden-holder:focus,
.email-hidden-holder:focus,
.phone-hidden-holder:focus {
  border-color: #f34841;
  background: #fff;
}
.hidden-h1 {
  margin-bottom: 25px;
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-top: 30px;
}

.add-other-button {
  width: 35%;
  padding: 12px 24px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  background-color: #f34841;
  border: none;
  font-size: 18px;
  text-align: center;
  margin-top: 5px;
}

.add-other-button:hover {
  background-color: #da403a; /*darker*/
}

.add-other-button:active {
  transform: scale(0.98);
}

.db-img {
  width: 50px;
  max-width: 50px;
  position: absolute;
  top: 20px;
  margin-left: 10px;
}

.search-result-container {
  width: 100%;
  max-width: 100%;

  height: 80%;

  margin: 18px;
  padding: 36px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  background-color: #ffffff;
  position: relative;
}
.Results-h1 {
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  padding-bottom: 10px;
}

.table-results {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: "Quicksand", sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.table-results thead th {
  font-family: "Quicksand", sans-serif;
  background-color: #f34841;
  color: #ffffff;
  text-align: left;
  padding: 20px 23px;
  font-weight: bold;
}

.table-results thead th:first-child {
  border-radius: 10px 0 0 10px;
}

.table-results thead th:last-child {
  border-radius: 0 10px 10px 0;
}

.table-results td,
.table-results tr {
  font-family: "Quicksand", sans-serif;
  padding: 20px 23px;
}
.table-results tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table-results tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table-results tbody tr a {
  text-decoration: none;
  color: black;
}

.table-results tbody tr a:hover {
  text-decoration: none;
  color: #f34841;
}

.table-results tbody tr a:active {
  transform: scale(0.98);
}
.delete-link {
  text-decoration: underline !important;
  color: #605e5e !important;
}

.delete-link:hover {
  text-decoration: underline !important;
  color: #f34841 !important;
}

.back-to-manager {
  font-size: 26px;
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  color: black;
  cursor: pointer;
  margin-left: 30px;
  position: absolute;
  left: 5px;
  bottom: 10px;
}

.back-to-manager:hover {
  color: #f34841;
}

.back-to-manager:active {
  transform: scale(0.98);
}
