body {
  background-color: #f3e0e2;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 18px;
}

.login-box {
  width: 600px;
  max-width: 600px;
  height: 400px;
  max-height: 400px;
  margin: 18px;
  padding: 36px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  background-color: #fff;
  position: relative;
}
.login-box,
.user,
.pass,
.login-button {
  font-family: "Quicksand", sans-serif;
}

.login-h1 {
  text-align: center;
  margin-bottom: 36px;
}

.inro-h1 {
  position: absolute;
  right: 50px;
  bottom: 130px;
  text-align: center;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.username-holder {
  margin-top: 54px;
  margin-bottom: 25px;
}

.password-holder {
  margin-top: 18px;
  margin-bottom: 36px;
}

.username-holder,
.password-holder {
  display: block;
  width: 50%;
  padding: 10px;

  border-radius: 4px;
  border: 1px solid #ddd;
  outline: none;
  background: #eee;
  transition: background 0.2s, border-color 0.2s;
  font-size: 18px;
}

.username-holder:focus,
.password-holder:focus {
  border-color: #ff445e;
  background: #fff;
}

.login-button {
  width: 50%;
  padding: 16px 36px;
  margin-top: 10px;
  margin-left: 11px;
  font-weight: bold;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  background-color: #ff445e;
  border: none;
  font-size: 18px;
}

.login-button:hover {
  background-color: #e53d54; /*darker*/
}

.login-button:active {
  transform: scale(0.98);
}
